<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox horizontal justify-space-between wrap">
  <div class="flexbox horizontal center">
    <div class="rank"><%= game_counter+1 %></div>
    <div class="name"><%= game.name.nil? ? '???' : game.name %></div>
  </div>
  <div class="score-duration flexbox horizontal center">
    <%= game.score %> points, <%= number_with_precision(game.duration, precision: 4) %> secs.
  </div>
</div>