<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <title>Is it Edible?</title>
    <meta property="og:title"        content="Is it Edible?">
    <meta property="og:url"          content="<%= root_url %>">
    <meta property="og:description"  content="A fast-paced game to test your emoji recognition skills.">
    <meta property="og:image"        content="<%= asset_url("/edible-preview.png") %>">
    <meta name="twitter:title"       content="Is it Edible?">
    <meta name="twitter:url"         content="<%= root_url %>">
    <meta name="twitter:description" content="A fast-paced game to test your emoji recognition skills.">
    <meta name="twitter:image"       content="<%= asset_url("/edible-preview.png") %>">
    <meta name="twitter:card"        content="summary_large_image">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,500,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="site-container" class="flexbox vertical stretch flex-1">
      <div class="flexbox vertical center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
